

.container{
    margin-top: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inputContainner{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
}

.bottomForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}