.Feature-container {
    width: 100%;
    background-color: #a6e1db;
    padding: 0%;
    padding-bottom: 5%;
}

.anf-motor {
    margin-top: 40px;
    font-size: large;
}

  .feature-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Feature-pic {
    width: auto;
    margin-bottom: 10vh;
  }
  

  
.Feature-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    grid-row-gap: 5vh;
   
}


.Health-monitoring,
.Output-tracking,
.Downtime,
.Protection-data,
.Multiview,
.Sensor {
    align-content: center;
    justify-content: center;
    text-align: center;
    border-radius: 1.5rem; /* Adjust the border-radius */
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    padding: 5vh;
}