/* Sidebar.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

:root{
  --primary-color:#0B0E19;
  --secondary-color:#0A1F38;
  --tertary-color:#51C28E;
  --alter-color:#656872;
  --black: #000000;
}

.sidebar{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-bars{
    margin: 2rem;
    font-size: 2rem;
    background: none;

}

.nav-menu{
    background-color: #111;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 500ms;
}

.nav-menu.active{
    left: 0;
    transition: 400ms;
}

.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #151414;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: var(--black);
    color: #fff;
  }
  
  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    background-color: var(--black);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  span {
    margin-left: 16px;
  }
