/* LandingHeader.css */

.landing-header {
  background-color:black;
  padding: 10px; /* Adjust the padding as needed */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing-header img {
  width: 100px; /* Adjust the logo width as needed */
  height: auto; /* Maintain aspect ratio */
}

.landing-header ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.landing-header li {
  margin: 0;
}

.landing-header a {
  text-decoration: none;
  color: #fff; /* Set your desired text color */
}

/* Media query for screens 600px or smaller */
@media (max-width: 600px) {
  .landing-header {
      flex-direction: column;
      align-items: flex-start;
  }

  .landing-header ul {
      margin-top: 10px; /* Adjust the spacing between the logo and the links */
  }

  .landing-header li {
      margin-bottom: 10px; /* Adjust the spacing between the navigation items */
  }
}

