.ListNavigate {
  background-color:black;
  padding: 10px; 
  display: flex;
  justify-content:left;
  align-items: center;
  gap: 2vw;
}

.ListNavigate li{
  list-style: none;
  gap: 20px;
  color: white;
  text-decoration: none;
}

.ListNavigate a{
  text-decoration: none;
  color: #fff; 
}

.ListNavigate ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.ListNavigate img {
  width: 100px; 
  height: auto; 
}