body{
    background-color:#f3f3f3 ;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid transparent;
    padding: 2px;
    background-color: #fff;
    margin-left:10% ;
    margin-right: 10%;
    align-items: center;
    border-radius: 10px;
    
}

.dashboard-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
  
.dashboard .chart {
  flex: 0 0 calc(50% - 1rem); 
  max-width: calc(50% - 1rem); 
  margin: 0.5rem;
}
    
.dashboard .chart.vibration {
  flex: 0 0 calc(50% - 1rem);
  max-width: calc(50% - 1rem);
  /* display: flex;  */
  justify-content: center; 
  align-items: center;
}


.pie-data{
    text-align: center;
    margin-top: -45%;
    margin-bottom: 30%;
}

.radial-gauge{
    margin-right: 35%;
}

.line-chart{
    margin-top: 15%;
}

.graph-page-text-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: medium;
}

.monitor-table{
  width: 80%;
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 10px;
  align-items: center;
  justify-items: center;
  
}

th, td {
  border-bottom: 1px solid #ddd;
  text-align: center;
  padding: 5px;
}

.table-text-header{
  text-align: center;
  font-size: medium;
  margin-top: 20px;
  margin-bottom: 20px;
}
